.pagination {
    display: flex;
    align-items: center;
    padding-block: 2em;

    .left {
        select {
            border: thin solid orangered;
            padding: 0.25em;
            border-radius: 5px;
            font-size: 14px;
            color: orangered;
            outline: none;
        }
    }

}

