<!-- Modal -->

<!-- <button ></button> -->


<!-- Bootstrap Modal Code -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true"
    [class.show]="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Please Login to your Account</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <!-- Your login form or content goes here -->
                <!-- Example: -->
                <div class="modal-body">
                    Do you want to continue to login?
                </div>
                <div class="modal-footer">
                    <button type="button" class="main-btn outline-btn" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="main-btn" data-bs-dismiss="modal">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>